<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aojun.user.server.mapper.SysRoleMenuMapper">

    <select id="queryMenuIdListByRoleIds" resultType="java.lang.String">
        select m.url from sys_menu m
        LEFT join sys_role_menu rm on rm.menu_id = m.menu_id
        LEFT join sys_role r on rm.role_id = r.role_id
        <where>
        m.type=2
        <if test=" roleIds !=null and roleIds.size() > 0">
            and r.role_id in
            <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        </where>
    </select>
    <select id="getMenuIdsByRoleId" resultType="java.lang.Integer">
        select menu_id from sys_role_menu where role_id =#{roleId}
    </select>


</mapper>
